{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Add Course{% endblock %}

{% block content %}

{% if designator and school %}
  <h1 class='page-header'>Add {{ designator }} course for {{ school.name }}</h1>
{% elif school %}
  <h1 class='page-header'>Add course for {{ school.name }}</h1>
{% else %}
  <h1 class='page-header'>Add course</h1>
{% endif %}

{% if errors %}
  <div class="alert alert-danger">
    {{ errors }}
  </div>
{% endif %}

<form class='form-group' action='{% url 'course_form' %}' method='post'>
  {% csrf_token %}
    <label for='id_school'>{{ form.school.label }}</label>
    {% render_field form.school class+='form-control' %}
    <label for='id_designator'>{{ form.designator.label }}</label>
    {% render_field form.designator class+='form-control' %}
    <label for='id_number'>{{ form.number.label }}</label>
    {% render_field form.number class+='form-control' %}
    <label for='id_name'>{{ form.name.label }}</label>
    {% render_field form.name class+='form-control' %}
  <button class='btn btn-md btn-primary form-control' type='submit'>Add Course</button>
</form>

{% endblock %}
