{% extends 'base.html' %}

{% block title %}Course Designator Selection{% endblock %}

{% block content %}
<h1>Select the designator of your course</h1>

<ul>
{% for designator in designators %}
  <li><a href='{% url 'course_selection' state=school.state|slugify school=school.name|slugify designator=designator|slugify %}'>{{ designator }}</a></li>
{% endfor %}
</ul>

<label>If you do not see your course designator <a href='{% url 'course_form' %}?school={{ school.name|slugify }}'>Add course?</label>

{% endblock %}
