{% extends 'base.html' %}
{% load bootstrap_pagination %}
{% load widget_tweaks %}

{% block title %}Notedrop Feed{% endblock %}

{% block content %}

<div class='col-sm-8'>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Drop a Note</h4>
      </div>
      <div class="modal-body">
        
        <form id='note-drop-form' class='form-group' action='{% url 'note_drop' %}' method='post'>
          <div id='note-drop-form-errors' class='alert alert-danger' hidden></div>
          {% csrf_token %}
            <label for='id_course'>{{ form.course.label }}</label>
            {% render_field form.course class+='form-control' %}
            <label for='id_content'>{{ form.content.label }}</label>
            {% render_field form.content class+='form-control' %}
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id='note-drop-submit' class='btn btn-primary'>Drop Note</button>
      </form>
      </div>
    </div>
  </div>
</div>

<div class='page-header'>
  <h2 id='header'>Note Feed</h2>
  <button id='drop-note-btn' class='btn btn-md btn-primary pull-right' data-toggle="modal" data-target="#myModal">Drop a Note</button>
</div>
{% if posts %}
  {% for post in posts %}
  <div class='post bg-success'>

    <div class='post-info bg-warning'>
      <span class='post-course bg-warning'><strong>{{ post.obj.course }}</strong></span>
      <span class='post-author'><a href='{% url 'users' username=post.obj.author %}'>{{ post.obj.author }}</a></span>
      <p class='post-content'>{{ post.obj }}</p>
      <em><span class='text-muted'>Created {{ post.obj.created }}</span></em>
      <a class='post-permalink' href='{% url 'posts' post_pk=post.obj.pk %}'>&#8734;</a>
    </div>

    <div class='post-options post-{{ post.obj.pk }}'>
      <button class='post-options-btn noted-btn' object='{{ post.obj.pk }}' {% if post.noted %}style='color: rgb(255, 145, 0);'{% endif %}>&#9733;</button>
      <button class='post-options-btn up-btn' object='{{ post.obj.pk }}' {% if post.upvote == True %}style='color: rgb(255, 145, 0);'{% endif %}>&#9650;</button>
      <span class='post-rating'>{{ post.obj.rating }}</span>
      <button class='post-options-btn down-btn' object='{{ post.obj.pk }}' {% if post.upvote == False %}style='color: rgb(255, 145, 0);'{% endif %}>&#9660;</button>
    </div>

  </div>
  {% endfor %}
  {% bootstrap_paginate posts show_prev_next="false" show_first_last="true" %}
{% else %}
  <div class='alert alert-warning'>
    No results
  </div>
{% endif %}
</div>
<!-- end of notefeed  -->

<aside class='col-sm-4 well'>
  <a href='{% url 'feed' %}' class='btn btn-sm btn-default pull-right'>Clear</a>
  <span class='well-header'>Filters</span>
  <form class='form-group' action='{% url 'feed' %}' method='get'>
    <label for='id_course'>{{filter.form.course.label}}</label>
    {% render_field filter.form.course class+='form-control' %}
    <label for='id_created'>{{ filter.form.created.label }}</label>
    {% render_field filter.form.created class+='form-control' %}
    <label for='id_author'>Author</label>
    {% render_field filter.form.author class+='form-control' %}
    <label for='id_rating'>Rating</label>
    {% render_field filter.form.rating class+='form-control' %}
    <input class='btn btn-md btn-primary btn-block form-control' type="submit" value='Filter Results' />
  </form>
</aside>

{% endblock %}

{% block extra_head %}
<script>
$(document).ready(function(){
  
  $('#note-drop-submit').click(function(e){
    e.preventDefault();
    $('#note-drop-form-errors').empty();
    $.post('{% url 'note_drop' %}', $('#note-drop-form').serialize())
      .done(function(data){
        window.location.replace(data);
      })
      .fail(function(data){
        errors = eval(data.responseText);
        for(var i=0; i < errors.length; i++){
          $('#note-drop-form-errors').append(errors[i] + '</br>');
        }
        $('#note-drop-form-errors').show();
      });
  });

  $('.noted-btn').click(function(){
    var btn = $(this);
    $.post('{% url 'post_options' %}', {'noted_pk': $(this).attr('object')})
      .done(function(data){
        data = JSON.parse(data);
        if(data == true){
          btn.css('color', 'rgb(255, 145, 0)');
        }
        else {
          btn.css('color', 'black');
        }
      });
  });

  $('.up-btn').click(function(){
    $.post('{% url 'post_options' %}', {'up_pk': $(this).attr('object')})
      .done(function(data){
        data = JSON.parse(data);
        update_rating_btns(data);
      });
  });

  $('.down-btn').click(function(){
    $.post('{% url 'post_options' %}', {'down_pk': $(this).attr('object')})
      .done(function(data){
        data = JSON.parse(data);
        update_rating_btns(data);
      });
  });
});

function update_rating_btns(data){
  $('.post-'+data['post_pk'].toString()+' > .post-rating').text(data['rating']);
  if(data['upvote'] == true){
    $('.post-'+data['post_pk'].toString()+' > .up-btn').css('color', 'rgb(255, 145, 0)');
    $('.post-'+data['post_pk'].toString()+' > .down-btn').css('color', 'black');
  }
  else if(data['upvote'] == false){
    $('.post-'+data['post_pk'].toString()+' > .down-btn').css('color', 'rgb(255, 145, 0)');
    $('.post-'+data['post_pk'].toString()+' > .up-btn').css('color', 'black');
  }
  else{
    $('.post-'+data['post_pk'].toString()+' > .down-btn').css('color', 'black');
    $('.post-'+data['post_pk'].toString()+' > .up-btn').css('color', 'black');
  }
}

</script>
{% endblock %}
