{% extends 'base.html' %}

{% block title %}{{ request.user }}'s' Profile{% endblock %}

{% block content %}
<h1>{{ request.user }}'s Profile</h1>

<h2>Settings</h2>
<label for='notify-count-input'>Minimum post rating before sending you an email (use 0 to never notify you)</label>
<input id='notify-count-input' type='number' min='0' max='255' placeholder={{ notify_count }} value={{ notify_count }} /> <button id='notify-count-btn'>Update</button>

<h2>Here are the courses you are following</h2>
<table>
  {% for course in courses %}
  <tr>
    <td>{{ course }}</td>
    <td><button class='course-handler' value='{{ course.pk }}'>Unfollow</button></td>
  </tr>
  {% endfor %}
</table>

<a href={% url 'state_selection' %}>Add another course</a>

<h2>Here are the schools of the courses you're following</h2>
<ul id='school-list'>
{% for school in schools %}
  <li>{{ school.name }} - {{ school.city }}, {{ school.state }}</li>
{% endfor %}
</ul>

<h2>Here are your Notes</h2>
<table>
{% for post in posts %}
  <tr>
    <td>{{ post }}</td>
    <td><a href='{% url 'posts' post_pk=post.pk %}'>Link</a></td>
    <td><a href='{% url 'post_delete' post_pk=post.pk %}'>Delete</a></td>
  </tr>
{% endfor %}
</table>

{% endblock %}

{% block extra_head %}
<script>
$(document).ready(function(){

  $('.course-handler').click(function(){
    var clickedButton = $(this);
    $.post('{% url 'profile' %}', {'course_pk': $(this).val(), 'action': $(this).text()})
      .done(function(data){
        flip_button_action(clickedButton)
        reload_schools($('#school-list'), data);
      });
  });
  
  $('#notify-count-btn').click(function(){
    $.post('{% url 'profile' %}', {'notify_count': $('#notify-count-input').val()})
      .done(function(data){
        $('#notify-count-input').attr('placeholder', data);
      });
  });
  
});

function reload_schools(school_list, data){
  school_list.empty();
  data = eval(data);
  for(var i=0; i < data.length; i++){
    school_list.append('<li>' + data[i]['fields']['name'] + ' - ' + data[i]['fields']['city'] + ', ' + data[i]['fields']['state'] + '</li>');
  }
}

function flip_button_action(btn){
  if(btn.text() == 'Unfollow'){
    btn.text('Follow');
  }
  else {
    btn.text('Unfollow');
  }
}
</script>
{% endblock %}
