{% extends 'base.html' %}

{% block title %}Starred Notes{% endblock %}

{% block content %}
  <h1>Here are the notes you starred</h1>
  {% if posts %}
  <table class='table'>
    {% for post in posts %}
      <tr>
        <td>{{ post.post.content }}</td>
        <td>{{ post.post.created }}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <div class='alert alert-warning'>
      No results
    </div>
  {% endif %}
{% endblock %}

{% block extra_head %}
  {# TODO Add print template #}
{% endblock %}
