{% extends 'base.html' %}

{% block title %}{{ username }}'s info{% endblock %}

{% block content %}
<h1>Data related to {{ username }}</h1>

<h2>Posts from this user</h2>
{% if posts %}
<table class='table'>
  {% for post in posts %}
  <tr>
    <td>{{ post }}</td>
    <td><a href='{% url 'posts' post_pk=post.pk %}'>Link</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
  <div class='alert alert-warning'>
    No results
  </div>
{% endif %}

<h2>Courses this user follows</h2>
{% if courses %}
<ul>
  {% for course in courses %}
  <li>{{ course }}</li>
  {% endfor %}
</ul>
{% else %}
  <div class='alert alert-warning'>
    No results
  </div>
{% endif %}

<h2>Schools of the courses this user follows</h2>
{% if schools %}
<ul>
  {% for school in schools %}
  <li>{{ school }}</li>
  {% endfor %}
</ul>
{% else %}
  <div class='alert alert-warning'>
    No results
  </div>
{% endif %}

{% endblock %}
