{% extends 'base.html' %}

{% block title %}Course Selection{% endblock %}

{% block content %}
<h1>Select the course you wish to follow</h1>

<table>
{% for course in courses %}
  <tr>
    <td>{{ course }}</td>
    <td><button id='course-handler' value='{{ course.pk }}'>Follow</button></td>
  </tr>
{% endfor %}
</table>

<h2>If you do not see your course <a href='{% url 'course_form' %}?school={{ school.name|slugify }}&designator={{ designator }}'>add a new one?</a>

{% endblock %}

{% block extra_head %}
<script>
$(document).ready(function(){

  $('#course-handler').click(function(){
    $.post('{% url 'post_course' %}', {'course_pk': $(this).val()})
      .success(function(data){
        alert(data);
      })
      .fail(function(date){
        alert(data);
      });

  });

});
</script>
{% endblock %}
