{% extends 'base.html' %}

{% block title %}Course Selection{% endblock %}

{% block content %}
<h1>Select the course you wish to follow</h1>

<table>
{% for course_user in courses_users %}
  <tr>
    <td>{{ course_user.0 }} ({{ course_user.1 }} users)</td>
    <td><button class='course-handler' value='{{ course_user.0.pk }}'>Follow</button></td>
  </tr>
{% endfor %}
</table>

<h2>If you do not see your course <a href='{% url 'course_form' %}?school={{ school.name|slugify }}&designator={{ designator }}'>add a new one?</a>

{% endblock %}

{% block extra_head %}
<script>
$(document).ready(function(){

  $('.course-handler').click(function(){
    var clickedButton = $(this);
    $.post('{% url 'post_course' %}', {'course_pk': $(this).val(), 'action': $(this).text()})
      .success(function(data){
        flip_button_action(clickedButton)
      })
      .fail(function(date){
        console.log(data);
      });

  });
});

function flip_button_action(btn){
  if(btn.text() == 'Unfollow'){
    btn.text('Follow');
  }
  else {
    btn.text('Unfollow');
  }
}
</script>
{% endblock %}
