{% extends 'base.html' %}

{% block title %}Notedrop Feed{% endblock %}

{% block content %}
<h1>Welcome to Notedrop :)</h1>

<h2>You are {{ user }}</h2>

<h2>Here are the courses you are following</h2>
<ul>
  {% for course in courses %}
    <li>{{ course }}</li>
  {% endfor %}
</ul>

<h2>Here are the schools your enrolled in</h2>
<ul>
{% for school in schools %}
  <li>{{ school.name }}</li>
{% endfor %}
</ul>

<a href={% url 'state_selection' %}>Add another course</a>
<a href={% url 'logout' %}>Logout</a>

{% endblock %}
