{% extends 'base.html' %}

{% block title %}Notedrop Feed{% endblock %}

{% block content %}
<div class='sidebar'>
<h1>Welcome to Notedrop, {{ request.user }} :)</h1>

<h2>Filter feed by course <a href='{% url 'feed' %}'>Clear Filter</a></h2>
<ul>
  {% for course in courses %}
    <li><a href='{% url 'feed_course_filter' course_pk=course.pk %}' {% if filter_course == course.name %}style='color: rgb(166, 2, 105);'{% endif %}>{{ course }}</a></li>
  {% endfor %}
</ul>

<a href={% url 'state_selection' %}>Add another course</a>

<h2>Drop a Note</h2>
<form action='{% url 'feed' %}' method='post'>
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input class='submit-note' type='submit' value='Submit Note'/>
</form>
</div>
<!-- end of sidebar -->

<div class='notefeed'>
<h2>Note Feed</h2>
{% for post in posts %}
<div class='post'>

  <div class='post-info'>
    <span class='post-course'>{{ post.obj.course }}</span>
    <span class='post-author'><a href='{% url 'users' username=post.obj.author %}'>{{ post.obj.author }}</a></span>
    <p class='post-content'>{{ post.obj }}</p>
    <span class='post-created'>Created {{ post.obj.created }}</span>
  </div>

  <div class='post-options post-{{ post.obj.pk }}'>
    <button class='post-options-btn noted-btn' object='{{ post.obj.pk }}' {% if post.noted %}style='color: rgb(255, 145, 0);'{% endif %}>&#9733;</button>
    <button class='post-options-btn up-btn' object='{{ post.obj.pk }}' {% if post.upvote == True %}style='color: rgb(255, 145, 0);'{% endif %}>&#9650;</button>
    <span class='post-rating'>{{ post.obj.rating }}</span>
    <button class='post-options-btn down-btn' object='{{ post.obj.pk }}' {% if post.upvote == False %}style='color: rgb(255, 145, 0);'{% endif %}>&#9660;</button>
  </div>

</div>
{% endfor %}
</div>
<!-- end of notefeed  -->
{% endblock %}

{% block extra_head %}
<script>
$(document).ready(function(){

  $('.noted-btn').click(function(){
    var btn = $(this);
    $.post('{% url 'post_options' %}', {'noted_pk': $(this).attr('object')})
      .done(function(data){
        data = JSON.parse(data);
        if(data == true){
          btn.css('color', 'rgb(255, 145, 0)');
        }
        else {
          btn.css('color', 'rgb(193, 193, 193)');
        }
      });
  });

  $('.up-btn').click(function(){
    $.post('{% url 'post_options' %}', {'up_pk': $(this).attr('object')})
      .done(function(data){
        data = JSON.parse(data);
        update_rating_btns(data);
      });
  });

  $('.down-btn').click(function(){
    $.post('{% url 'post_options' %}', {'down_pk': $(this).attr('object')})
      .done(function(data){
        data = JSON.parse(data);
        update_rating_btns(data);
      });
  });
});

function update_rating_btns(data){
  $('.post-'+data['post_pk'].toString()+' > .post-rating').text(data['rating']);
  if(data['upvote'] == true){
    $('.post-'+data['post_pk'].toString()+' > .up-btn').css('color', 'rgb(255, 145, 0)');
    $('.post-'+data['post_pk'].toString()+' > .down-btn').css('color', 'rgb(193, 193, 193)');
  }
  else if(data['upvote'] == false){
    $('.post-'+data['post_pk'].toString()+' > .down-btn').css('color', 'rgb(255, 145, 0)');
    $('.post-'+data['post_pk'].toString()+' > .up-btn').css('color', 'rgb(193, 193, 193)');
  }
  else{
    $('.post-'+data['post_pk'].toString()+' > .down-btn').css('color', 'rgb(193, 193, 193)');
    $('.post-'+data['post_pk'].toString()+' > .up-btn').css('color', 'rgb(193, 193, 193)');
  }
}

</script>
{% endblock %}
