{% extends 'base.html' %}

{% block title %}Notedrop Feed{% endblock %}

{% block content %}
<div class='sidebar'>
<h1>Welcome to Notedrop, {{ request.user }} :)</h1>

<h2>Filter feed by course</h2>
<ul>
  {% for course in courses %}
    <li>{{ course }}</li>
  {% endfor %}
</ul>

<a href={% url 'state_selection' %}>Add another course</a>

<h2>Drop a Note</h2>
<form action='{% url 'feed' %}' method='post'>
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input class='submit-note' type='submit' value='Submit Note'/>
</form>
</div>
<!-- end of sidebar -->

<div class='notefeed'>
<h2>Note Feed</h2>
{% for post in posts %}
<div class='post'>

  <div class='post-info'>
    <span class='post-course'>{{ post.obj.course }}</span>
    <span class='post-author'><a href='{{ post.author.username }}'>{{ post.obj.author }}</a></span>
    <p class='post-content'>{{ post.obj }}</p>
    <span class='post-created'>Created {{ post.obj.created }}</span>
  </div>

  <div class='post-options'>
    <button class='post-options-btn' value='{{ post.noted }}'>&#9733;</button>
    <button class='post-options-btn' value='up-{{ post.obj.pk }}'>&#9650;</button>
    <span class='post-rating'>{{ post.obj.rating }}</span>
    <button class='post-options-btn' value='down-{{ post.obj.pk }}'>&#9660;</button>
  </div>

</div>
{% endfor %}
</div>
<!-- end of notefeed  -->
{% endblock %}
