* {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: rgb(0, 39, 46);
  color: rgb(193, 193, 193);
}
a {
  color: rgb(169, 200, 15);
}
ul {
  list-style-type: none;
}
ul > li {
  font-size: 16px;
}
h1 {
  color: rgb(255, 145, 0);
  font-size: 26px;
}
h2 {
  color:rgb(130, 34, 252);
  font-size: 20px;
}
label {
    color: rgb(0, 157, 167);
}
input {
  background-color: rgb(255, 255, 255);
  color: rgb(53, 24, 112);
  font-size: 18px;
}
.errorlist > li{
  color: rgb(207, 31, 0);
}
.nav-links > li {
  display: inline;
}
