* {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: rgb(0, 39, 46);
  color: rgb(193, 193, 193);
}
a {
  color: rgb(169, 200, 15);
}
ul {
  list-style-type: none;
}
h1 {
  color: rgb(255, 145, 0);
  font-size: 26px;
}
