* {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: rgb(0, 39, 46);
  color: rgb(193, 193, 193);
}
a {
  color: rgb(169, 200, 15);
}
ul {
  list-style-type: none;
}
ul > li {
  font-size: 16px;
}
h1 {
  color: rgb(255, 145, 0);
  font-size: 26px;
}
h2 {
  color:rgb(130, 34, 252);
  font-size: 20px;
}
label {
    color: rgb(0, 157, 167);
}
input {
  background-color: rgb(255, 255, 255);
  color: rgb(53, 24, 112);
  font-size: 18px;
}
.errorlist > li{
  color: rgb(207, 31, 0);
}
.nav-links > li {
  display: inline;
}
.submit-note {
  margin-left: 20px;
  margin-top: 10px;
}
.sidebar {
  float: left;
  marigin-right: 20px;
}
.notefeed {
  float: right;
  margin-right: 150px;
}
.post {
  margin-top: 20px;
}
.post-options {
  float: right;
  margin-left: 10px;
  padding-bottom: 10px;
}
.post-options-btn {
  display: block;
  padding: 0;
  border: none;
  background: none;
  font-size: 22px;
}
.post-rating {
  font-size: 18px;
  padding-left: 5px;
}
.post-info {
  margin-top: 15px;
  padding-bottom: 15px;
  float: left;
  width: 600px;
  border-bottom: 1px solid rgb(0, 158, 200);
}
.post-course {
  font-size: 12px;
  color: rgb(166, 2, 105);
}
.post-author {
  float: right;
}
.post-content {
  font-size: 20px;
  padding-left: 10px;
}
.post-created {
  font-size: 10px;
  font-style: italic;
}
.noted-True {
  color: rgb(255, 145, 0);
}
.up {
  color: rgb(255, 145, 0);
}
.down {
  color: rgb(255, 145, 0);
}
